# Dependencies
node_modules
npm-debug.log

# Build output
dist
artifacts

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# IDE / OS files
.vscode
.idea
.DS_Store
thumbs.db

# Docker files
Dockerfile
docker-compose.yml