DATABASE_URL =your_db_url
SUPABASE_JWT_SECRET =your_jwt
CLIENT_ID =your_client_id
CLIENT_SECRET =your_client_secret
AUTHORIZATION_URL =your_aurh_url
CALLBACK_URL =your_callback_url
TOKEN_URL =your_token_url
REDIRECT_URL=your_redirect_url