HOST_DB =your_host_database
USERNAME_DB =your_user_database
PASSWORD_DB =your_password_database
DB_NAME =your_db

MODE =dev

CLIENT_ID =your_client_id
CLIENT_SECRET =your_client_secret
AUTHORIZATION_URL =your_aurh_url
CALLBACK_URL =your_callback_url
TOKEN_URL =your_token_url
REDIRECT_URL=your_redirect_url